<<<<<<< HEAD
.header {
  background-color:burlywood; 
  padding: 10px 30px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 20px; 
  height: 40px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  font-size: 1rem;
  color: white; 
  font-weight: normal;
  /* transition: color 0.3s ease, font-weight 0.3s ease, text-decoration 0.3s ease; */
}

.nav a:hover {
  color: #007bff; 
  font-weight: bold;
}

.nav a.active {
  font-weight: bold;
  color: #007bff;
  text-decoration: underline; 
}

.cart-badge {
  font-size: 1rem;
  color: #007bff;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; 
    text-align: center;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
  }

  .logo-img {
    width: 90px; 
  }
}
=======

.nav .nav-link {
    text-decoration: none;  
    color: #000; 
    padding: 10px;
    margin: 0 15px;
    font-size: 16px;
    font-weight: normal;
    transition: color 0.3s, font-weight 0.3s, background-color 0.3s;  
  }
  
 
  .nav .active {
    color: #007bff; 
    font-weight: bold; 
    background-color: #f0f0f0; 
    border-radius: 5px;
    padding: 10px 15px; 
  }
  
  
  .nav .nav-link:hover {
    color: #007bff;  
    background-color: #f0f0f0;  
    border-radius: 5px; 
  }
  
>>>>>>> 6b34070ba41abb4e616723fc623cfe2f910268bd
